body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.centered {
    text-align: center;
}
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* For mobile screens */
@media only screen and (max-width: 600px) {
    body {
        /* Adjust styles for mobile here */
        font-size: 14px;
    }
}

/* For tablet screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        /* Adjust styles for tablet here */
        font-size: 18px;
    }
}

/* For laptop screens */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    body {
        /* Adjust styles for laptop here */
        font-size: 20px;
    }
}

/* For desktop screens */
@media only screen and (min-width: 1441px) {
    body {
        /* Adjust styles for desktop here */
        font-size: 22px;
    }
}
